<%- include('../../partials/header.ejs')  %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-3">
      </div>
      <div class="col-12 col-lg-6 col-md-6">
        <div class="card card-body my-4 mx-0 mx-lg-5 mx-md-5">
          <h4 class="text-secondary">Create A New Account</h4>
          <form action="/auth/signup" method="post" class="py-3">
            <div class="row">
              <div class="col">
                <label for="username" class="form-label">Enter you username (must be unique)</label>
                <input type="text" class="form-control <%= error.username ? 'is-invalid' : '' %>" name="username" id="username" value="<%= value.username ? value.username : '' %>">
                <p class="validation-feedback text-danger">
                  <%= error.username && error.username %> 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="email" class="form-label">Enter you email (use correct email)</label>
                <input type="email" class="form-control <%= error.email ? 'is-invalid' : '' %>" name="email" id="email" value="<%= value.email ? value.email : '' %>" >
                <p class="validation-feedback text-danger">
                  <%= error.email && error.email %> 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="password" class="form-label">Enter you password (password must be strong)</label>
                <input type="password" class="form-control <%= error.password ? 'is-invalid' : '' %>" name="password" id="password" value="<%= value.password ? value.password : '' %>">
                <p class="validation-feedback text-danger">
                  <%= error.password && error.password %> 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="confirmPassword" class="form-label">Confirm your password</label>
                <input type="password" class="form-control <%= error.confirmPassword ? 'is-invalid' : '' %>" name="confirmPassword" id="confirmPassword">
                <p class="validation-feedback text-danger">
                  <%= error.confirmPassword && error.confirmPassword %> 
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-3">
                <input type="submit" class="btn btn-primary" value="sign up">
              </div>
              <div class="col-9">
                <p class="mt-2">Already have an account? <a href="/auth/login">login now</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
      </div>
    </div>
  </div>

<%- include('../../partials/footer.ejs')  %>
</body>
</html> 

